*
{
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

html,body{
  background-color: rgb(59, 58, 58);
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
}

.nav{
  border:1px solid #ff9b49;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  color: #f2f2f2;
  font-size: 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover{
  background-color: #ff9b49;
  color: black;
  border-radius: 15px;
}

.nav a.active{
  background-color: #ff9b49;
  color: white;
  border-radius: 10px;
}

.p{
    color:#f2f2f2;
    text-align: center;
    font-size: 60px;
    font-family: algerian;
    


}



.button {
  background-color: #ff9b49;
  border: none;
  color: black;
  padding: 10px 1px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 180px;
  cursor: pointer;
  border-radius: 32px;
  
}

.button:hover {
  background-color: #ff9b49;
  
}


body{
  overflow-x: hidden;   
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: rgb(59, 58, 58);
}

section::before{
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b,#e91e63);
  border-radius: 50%;
  transform: translate(-420px,-180px);
}

section::after{
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3,#83d8ff);
  border-radius: 50%;
  transform: translate(400px,180px);
}

.container{
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.container::before{
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height:100%;
  background: rgba(255,255,255,0.05);
  pointer-events: none;
  transform: skewX(-15deg); 
}

.container h2{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: algerian;
}

.container .row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.container .row100 .col{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.container .row100 .col .inputBox{
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container .row100 .col .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text
{
  top: -35px;
  left: -10px;
}

.container .row100 .col .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line
{
  height: 100%;
}

.container .row100 .col .inputBox.textarea{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line
{
  height: 100%;
}

.container .row100 .col input[type="submit"]{
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

.facebook{
  margin-top: 10%;
  position: relative;
  right: -1360px;
  top: -850px;
}

.instagram{
  margin-top: 10%;
  position: relative;
  right: -1440px;
  top: -1081px;
}

.p5{
  size: 60px;
  color: white;
  position: relative;
  right: -1370px;
  top: -1050px;
  font-weight: bold;
}

.p6{
  size: 60px;
  color: white;
  position: relative;
  right: -1370px;
  top: -1050px;
  font-weight: bold;
}

@media (max-width: 768px)
{
  section::before
  {
    transform: translate(-299px,-180px);
  }
  section::after
  {
    transform: translate(220px,180px);
  }
  .container
  {
    padding: 20px;
  }
  .container h2
  {
    font-size: 28px;
  }
}


